<nav class="navbar navbar-expand-lg navbar-dark border border-dark bg-dark">  
  <div class="container-fluid">
    <a class="navbar-brand" href=<%=root_path%>>
      Participant Manager
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
        <% if server_signed_in? %>
          <%= link_to 'Sign Out as Server', destroy_server_session_path, class: "nav-link", method: :delete %> |
        <% elsif !admin_signed_in? %>
          <%= link_to "Sign In as Server", new_server_session_path, class: "nav-link" %> |
        <% end %>
        </li>

        
        <li class="nav-item">
        <% if admin_signed_in? %>
          <%= link_to 'Sign Out as Admin', destroy_admin_session_path, class: "nav-link", method: :delete %> |
        <% elsif !server_signed_in? %>
          <%= link_to "Sign In as Admin", new_admin_session_path, class: "nav-link" %> |
        <% end %>
        </li>

      </ul>
    </div>
  </div>
</nav>